* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
  min-block-size: 100svb;
  display: grid;
  place-items: center;
  color: hsl(210, 29%, 29%);
  background: hsl(210, 17%, 98%);
}

svg text {
  font-family: system-ui;
  color: hsl(184, 6%, 53%);
}

#wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas: "metric legend button" "heatmap heatmap heatmap";
  align-items: center;
  gap: 1rem 0.5rem;
}

#wrapper h2 {
  grid-area: metric;
}

#wrapper button {
  grid-area: button;
  justify-self: end;
}

#wrapper #heatmap {
  grid-area: heatmap;
}

#wrapper #legend {
  grid-area: legend;
}

button {
  font-family: inherit;
  font-size: 1.1rem;
  background: hsl(84, 91%, 41%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  position: relative;
  --border-width: 3px;
  border-block-end: 2px solid hsl(120, 78%, 19%);
  border-block-end: var(--border-width) solid hsl(120, 78%, 19%);
  transition-property: background, border-block-end-color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}

button:hover {
  background: hsl(83, 91%, 34%);
}

button:active {
  border-block-end-color: transparent;
  transform: translateY(2px);
  transform: translateY(var(--border-width));
}
