* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100svb;
  display: grid;
  place-items: center;
  background: hsl(17ì28, 90%, 98%);
  color: hsl(132, 50%, 22%);
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#wrapper > * + * {
  margin-block-start: 2rem;
}

svg text {
  fill: currentColor;
  font-family: system-ui;
}
