@font-face {
  font-family: 'Inter var';
  src: url('../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(200, 17%, 92%);
  color: hsl(210, 29%, 15%);
  font-family: 'Inter var', sans-serif;
}

.color-sub {
  color: hsl(204, 19%, 80%);
}

.color-background {
  color: hsl(0, 0%, 100%);
}

svg {
  color: hsl(210, 29%, 25%);
}

svg text {
  font-family: 'Inter var', sans-serif;
  fill: currentColor;
}

#root {
  margin: 1rem 0;
}

#root > * + * {
  margin-top: 1rem;
}

header {
  text-align: center;
}

header > * + * {
  margin-top: 0.25rem;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

#wrapper {
  position: relative;
}

#wrapper #tooltip {
  position: absolute;
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  font-feature-settings: 'tnum';
  color: hsl(206, 18%, 18%);
  background: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
  line-height: 1.5;
  text-align: center;
  filter: drop-shadow(0 0 5px hsl(202, 19%, 78%));
}

#wrapper #tooltip > * + * {
  margin-top: 0.25rem;
}

#wrapper #tooltip h2 {
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
  text-align: center;
}

#wrapper #tooltip p {
  font-size: 0.95rem;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}

#wrapper #tooltip dl {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  gap: 0rem 0.25rem;
  line-height: 1.2;
}

#wrapper #tooltip dl dt {
  padding-left: 0.25rem;
}

#wrapper #tooltip dl > * {
  margin: 0.15rem 0;
}

#wrapper svg {
  overflow: visible;
}
