* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
}

svg text {
  font-family: system-ui, sans-serif;
}

#wrapper {
  min-block-size: 100svb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  --border-width: 3px;
  font-family: inherit;
  font-size: 1.1rem;
  background: hsl(84, 91%, 41%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  position: relative;
  border-bottom: var(--border-width) solid hsl(120, 78%, 19%);
  transition-property: background, border-bottom-color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}

button:hover {
  background: hsl(83, 91%, 34%);
}

button:active {
  border-bottom-color: transparent;
  transform: translateY(var(--border-width));
}
