* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
  min-block-size: 100svb;
  display: grid;
  place-items: center;
  color: hsl(210, 29%, 29%);
  background: hsl(210, 17%, 98%);
}

svg text {
  font-family: system-ui;
}
