* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(210, 29%, 29%);
  background: hsl(210, 17%, 95%);
  min-block-size: 100svb;
  font-family: system-ui;
}

svg text {
  font-family: system-ui;
}

h1 {
  font-size: 1.5rem;
}
