* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100svb;
  display: grid;
  place-items: center;
  background: hsl(200, 17%, 95%);
  color: hsl(210, 29%, 29%);
  font-family: system-ui;
}

#wrapper {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

article {
  text-align: center;
  display: grid;
  gap: 0.5rem 0;
  grid-template-areas: "gauge" "value" "label" "measure";
  justify-items: center;
}

article p {
  grid-area: value;
  font-weight: 900;
  font-size: 3rem;
}

article p span {
  color: hsl(212, 17%, 44%);
}

article h2 {
  grid-area: label;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(195, 10%, 51%);
}

article h3 {
  grid-area: measure;
  color: hsl(185, 12%, 62%);
  font-weight: 500;
  font-size: 0.85rem;
}

article svg {
  grid-area: gauge;
  color: hsl(183, 11%, 61%);
}

article svg text {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 300;
  color: hsl(185, 12%, 62%);
  font-size: 0.9rem;
}

button {
  grid-column: 2;
  font-family: inherit;
  font-size: 1.1rem;
  background: hsl(84, 91%, 41%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  position: relative;
  --border-width: 3px;
  border-block-end: 2px solid hsl(120, 78%, 19%);
  border-block-end: var(--border-width) solid hsl(120, 78%, 19%);
  transition-property: background, border-block-end-color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}

button:hover {
  background: hsl(83, 91%, 34%);
}

button:active {
  border-block-end-color: transparent;
  transform: translateY(2px);
  transform: translateY(var(--border-width));
}
