* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svb;
  display: grid;
  place-items: center;
  background: hsl(200, 17%, 92%);
  color: hsl(212, 17%, 20%);
  font-family: system-ui;
}

#root > * + * {
  margin-block-start: 1rem;
}

header > * + * {
  margin-block-start: 0.25rem;
}

header > p,
header > p + * {
  margin-block-start: 1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  line-height: 1.5;
  font-size: 0.95rem;
  color: hsl(217, 13%, 32%);
}

footer {
  font-size: 0.9rem;
  font-style: italic;
  color: hsl(217, 13%, 32%);
}

a {
  color: inherit;
}
