@font-face {
  font-family: 'Inter var';
  src: url('../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(200, 17%, 92%);
  color: hsl(210, 29%, 15%);
  font-family: 'Inter var', sans-serif;
}

.color-sub {
  color: hsl(204, 19%, 80%);
}

.color-background {
  color: hsl(0, 0%, 100%);
}

svg {
  color: hsl(210, 29%, 25%);
}

svg text {
  font-family: 'Inter var', sans-serif;
  fill: currentColor;
}

#root {
  margin: 1rem 0;
}

#root > * + * {
  margin-top: 1rem;
}

header {
  text-align: center;
}

header > * + * {
  margin-top: 0.25rem;
}

header h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

header p {
  line-height: 1.5;
  font-size: 0.9rem;
}

#wrapper {
  position: relative;
}

#wrapper #tooltip {
  position: absolute;
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  color: hsl(206, 18%, 18%);
  background: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
  line-height: 1.5;
  text-align: center;
  filter: drop-shadow(0 0 5px hsl(202, 19%, 78%));
  transition: transform 0.15s ease-out;
}

#wrapper #tooltip::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 0.5rem;
  background: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: -5;
}

#wrapper #tooltip h2 {
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
  text-align: center;
}

#wrapper #tooltip p {
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}
