* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
}

svg text {
  font-family: system-ui;
}

#root {
  padding: 2rem 1rem;
  max-inline-size: 56rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.wrapper svg rect:hover {
  fill: hsl(300, 100%, 25%);
}

.wrapper {
  position: relative;
}

.wrapper .tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
  line-height: 1.5;
  filter: drop-shadow(0 1px 2px hsl(0, 0%, 0%, 0.25));
  transition: transform 0.2s ease-out;
}

.wrapper .tooltip::before {
  content: "";
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 1rem;
  block-size: 0.5rem;
  background: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: -1;
}

.wrapper .tooltip h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}
