@font-face {
  font-family: 'Inter var';
  src: url('../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter var', sans-serif;
}

svg text {
  font-family: 'Inter var', sans-serif;
}

#root {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper svg rect:hover {
  fill: purple;
}

.wrapper {
  position: relative;
}

.wrapper .tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  background: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
  line-height: 1.5;
  filter: drop-shadow(0 1px 2px hsl(0, 0%, 0%, 0.25));
  transition: transform 0.2s ease-out;
}

.wrapper .tooltip::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 0.5rem;
  background: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: -5;
}

.wrapper .tooltip h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: inherit;
  text-transform: capitalize;
  text-align: center;
}

.wrapper .tooltip p {
  font-size: 1rem;
  letter-spacing: -0.5px;
  word-spacing: -1px;
}
