* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100svb;
  display: grid;
  place-items: center;
  background: hsl(222, 90%, 98%);
  color: hsl(233, 67%, 15%);
  font-family: system-ui;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid currentColor;
}
