@font-face {
  font-family: 'Inter var';
  src: url('../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(200, 17%, 95%);
  color: hsl(210, 29%, 5%);
  font-family: 'Inter var', sans-serif;
}

svg text {
  font-family: 'Inter var', sans-serif;
}

a {
  text-decoration: underline;
}

svg text.main {
  font-weight: 900;
  font-size: 2rem;
  fill: hsl(210, 29%, 5%);
}

svg text.sub {
  font-weight: 400;
  font-size: 1rem;
  fill: hsl(204, 13%, 29%);
}

svg text.label {
  font-weight: 400;
  font-size: 0.75rem;
  fill: hsl(204, 13%, 29%);
}

svg g.tick text {
  font-weight: 400;
  font-size: 0.8rem;
  fill: hsl(204, 13%, 29%);
}

svg .overlay-bins {
  color: hsl(200, 17%, 95%);
}
