@font-face {
  font-family: 'Inter var';
  src: url('../../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(210, 17%, 98%);
  color: hsl(210, 29%, 29%);
  font-family: 'Inter var', sans-serif;
}

#wrapper {
  display: grid;
  gap: 2rem 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

article > * + * {
  margin-top: 0.75rem;
}

article p {
  font-weight: 900;
  font-size: 2.75rem;
}

article h2 {
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(184, 6%, 53%);
}

button {
  grid-column: 2;
  font-family: inherit;
  font-size: 1.1rem;
  background: hsl(84, 91%, 41%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  position: relative;
  --border-width: 3px;
  border-bottom: 2px solid hsl(120, 78%, 19%);
  border-bottom: var(--border-width) solid hsl(120, 78%, 19%);
  transition-property: background, border-bottom-color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}

button:hover {
  background: hsl(83, 91%, 34%);
}

button:active {
  border-bottom-color: transparent;
  transform: translateY(2px);
  transform: translateY(var(--border-width));
}
