* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
  min-block-size: 100svb;
  color: hsl(210, 29%, 29%);
  background: hsl(210, 17%, 98%);
}

svg text {
  font-family: system-ui;
}

#wrapper {
  padding: 1rem 0.75rem;
  max-inline-size: 80ch;
  margin-inline: auto;
}

#wrapper > * + * {
  margin-block-start: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 1px 5px -4px hsl(210, 29%, 5%);
}

article > * + * {
  margin-block-start: 0.5rem;
}

article h2 {
  text-transform: capitalize;
  font-size: 1.1rem;
}

section > * + * {
  margin-block-start: 0.25rem;
}
