@font-face {
  font-family: 'Inter var';
  src: url('../../Inter.var.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(272, 90%, 98%);
  color: hsl(233, 67%, 14%);
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#wrapper > * + * {
  margin-top: 1.5rem;
}

svg text {
  fill: currentColor;
  font-family: 'Inter var', sans-serif;
}
