* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui;
}

svg text {
  font-family: system-ui;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#wrapper svg {
  margin: 1rem;
}
