@font-face {
  font-family: "Inter var";
  src: url("../../Inter.var.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter var", sans-serif;
}

svg text {
  font-family: "Inter var", sans-serif;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#wrapper svg {
  margin: 1rem;
}
