@font-face {
  font-family: "Inter var";
  src: url("../../../Inter.var.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: hsl(0, 0%, 90%);
  color: hsl(215, 29%, 25%);
  font-family: "Inter var", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 3rem auto;
  width: 850px;
  background: hsl(0, 0%, 97%);
  box-shadow: 0 0 10px -8px currentColor;
  position: relative;
}

#root::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 2rem;
  background: hsl(0, 0%, 85%);
}

#root::after {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='m50 0a8.8 8.8 0 0 0-8.801 8.801 8.8 8.8 0 0 0 8.801 8.799 8.8 8.8 0 0 0 8.801-8.799 8.8 8.8 0 0 0-8.801-8.801zm-29 12.07a8.8 8.8 0 0 0-6.352 2.576 8.8 8.8 0 0 0 0 12.45 8.8 8.8 0 0 0 12.45 0 8.8 8.8 0 0 0 0-12.45 8.8 8.8 0 0 0-6.094-2.576zm58.27 0a8.8 8.8 0 0 0-6.352 2.576 8.8 8.8 0 0 0 0 12.45 8.8 8.8 0 0 0 12.45 0 8.8 8.8 0 0 0 0-12.45 8.8 8.8 0 0 0-6.094-2.576zm-29.26 15.93a22 22 0 0 0-22 22 22 22 0 0 0 22 22 22 22 0 0 0 22-22 22 22 0 0 0-22-22zm-41.2 13.2a8.8 8.8 0 0 0-8.801 8.801 8.8 8.8 0 0 0 8.801 8.801 8.8 8.8 0 0 0 8.799-8.801 8.8 8.8 0 0 0-8.799-8.801zm82.4 0a8.8 8.8 0 0 0-8.799 8.801 8.8 8.8 0 0 0 8.799 8.801 8.8 8.8 0 0 0 8.801-8.801 8.8 8.8 0 0 0-8.801-8.801zm-70.2 29.13a8.8 8.8 0 0 0-6.352 2.576 8.8 8.8 0 0 0 0 12.45 8.8 8.8 0 0 0 12.45 0 8.8 8.8 0 0 0 0-12.45 8.8 8.8 0 0 0-6.094-2.576zm58.27 0a8.8 8.8 45 0 0-6.352 2.576 8.8 8.8 45 0 0 0 12.45 8.8 8.8 45 0 0 12.45 0 8.8 8.8 45 0 0 0-12.45 8.8 8.8 45 0 0-6.094-2.576zm-29.26 12.07a8.8 8.8 0 0 0-8.801 8.799 8.8 8.8 0 0 0 8.801 8.801 8.8 8.8 0 0 0 8.801-8.801 8.8 8.8 0 0 0-8.801-8.799z' /%3E%3C/svg%3E%0A");
}

#root > * + * {
  margin-top: 2rem;
}

#root header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 0.5rem;
  align-items: end;
  margin: 0 2rem;
}

#root header h1 {
  grid-column: 1/-1;
  font-size: 1.8rem;
  font-weight: 900;
}

#root header h2 {
  font-size: 1rem;
  font-weight: 400;
}

#root header h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(215, 29%, 35%);
}

#root svg {
  width: 100%;
  height: auto;
  display: block;
}

#root svg text {
  font-family: "Inter var", sans-serif;
  color: hsl(215, 29%, 35%);
  fill: currentColor;
}
